/*GLOBAL STYLES*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);
body{
	margin: 0px;
}
h1{
	font-family: 'Lato', sans-serif;
	font-size: 95px;
}
h2{
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
	font-style: italic;
}
h3{
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	font-style: italic;
}
p{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
a{
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: black;
}
#nav_bar{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
    margin-top: 30px;
}
#nav_bar a{
	margin-left: 7px;
	margin-right: 7px;
}
#nav_bar a:hover{
	color: #D8625D;
}
footer{
	background-color: #1E1E1E;
	color: white;
	letter-spacing: 2px;
	height: 300px;
	margin-top: 80px;
	text-align: center;
}
#footer_text{
	text-transform: uppercase;
	font-size: 14px;
	text-align: center
}
#footer_nav_bar{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 30px;
}
#footer_nav_bar a{
    margin-top: 30px;
    color: white;
    text-decoration: none;	
    letter-spacing: 2px;
    margin-left: 7px;
	margin-right: 7px;
}
#footer_nav_bar a:hover{
	color: #F39431;
}
#footer_links{
	display: inline-block;
	text-align: center;
	margin-top: 30px;
}
#footer_links a{
	margin-left: 7px;
	margin-right: 7px;
}
/*END GLOBAL STYLES*/


/*LANDER PAGE*/
.lander_container{
	display: inline-flex;
	width: 100%;
	height: 650px;
}
.text_and_photo_container{
	position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}
.lander_text{
	text-align: left;
    position: relative;
    display: inline-block;
    top: -180px;
    margin-left: 30px
}
#lander_greeting1{
	margin-bottom: 0px;
	margin-top: 130px;
}
#lander_greeting2{
	margin-top: 0px;
	width: 340px;
}
.second_lander_section{
	width: 100%;
	position: relative;
	background-color: #D8625D;
	color: white;
	height: 300px;
	top: -70px;
}
#second_lander_paragraph{
	font-size: 24px;
	width: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: 30%;
}
.third_lander_section{
	text-align: center;
}
#third_lander_paragraph{
	width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    font-style: italic;
}
#closing_landing_statment{
	width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.horizontal_divider_line{
	height: 2px;
	width: 200px;
	background-color: #D1D3D4;
	margin-right: auto;
	margin-left: auto;
}
/*END LANDER PAGE*/

/*PORTFOLIO*/
#porfolio_container{
	text-align: center;
	margin-top: 100px;
}
.preview_image{
	height: 250px;
	width: 400px;
	text-align: center;
	margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*END PORTFOLIO*/


/*INDIVIDUAL PROJECT PAGES*/
.larger_project_image{
	width: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
}
#project_description_text{
	font-size: 16px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#project_name_text{
	margin-bottom: 30px;
}
#long_project_name_text{
	font-size: 65px;
	margin-bottom: 30px;
}
#project_link{
	position: relative;
	text-decoration: underline;
	font-size: 18px;
}

/*END INDIVIDUAL PROJECT PAGES*/

/*CONTACT*/
#contactTextBox{
	margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#contactTextBox h1{
	margin-top: 10px;
}
#contactTextBox button{
    margin-top: 35px;
    font-size: 16px;
    background-color: #F39431;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    border: solid 0px #c9c9c9;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);   
}

/*END CONTACT*/


/*MEDIA QUERIES*/
@media screen and (min-device-width: 320px) and (max-width:882px){
	.preview_image{
		margin-top: 50px;
		margin-left: 0px;
		margin-right: 0px;	
	}
	.lander_text{
		margin-top: 0px;
		text-align: center;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0px
	}
	#lander_greeting1{
		margin-top: 0px;
	}
	.text_and_photo_container{
		position: relative;
		top: 200px;
	}
	.second_lander_section{
		top: -30px;
	}
	#second_lander_paragraph{
		top: 20%;
		width: 360px;
	}
	#third_lander_paragraph{
		width: 360px;
	}
	#project_description_text{
	width: 370px;
	}
}

/*END MEDIA QUERIES*/